.studentItem {
  padding: 0.8rem 1rem 0.8rem 1rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  cursor: pointer;
  transition: all 200ms;
}

.studentItem:hover {
  cursor: pointer;
  color: #035f64;
}

.active {
  transition: all;
  transition-duration: 200ms;
  background-color: #dde4e586 !important;
  color: #035f64 !important;
  border-left: 0.3rem solid;
  border-color: #035f64;
}

.studentItem:hover .studentName {
  color: #035f64;
}

.studentItem:hover .studentId {
  color: #035f64;
}

.active .studentName {
  color: #035f64 !important;
}

.active .studentId {
  color: #035f64 !important;
}
