.list {
  background-color: (#d9d9d9);
  padding: 0.8rem 1rem 0.8rem 1rem;
  display: flex;
  gap: 0.8rem;
}
.list:hover {
  cursor: pointer;
  background-color: #035f64;
  color: rgb(255, 255, 255);
}
.active {
  background-color: #035f64 !important; /* Ensures active state overrides hover */
  color: #ffffff !important;
}
