.list {
  background-color: (#d9d9d9);
  padding: 0.8rem 1rem 0.8rem 1rem;
  display: flex;
  gap: 0.8rem;
}
.list:hover {
  cursor: pointer;
  color: #035f64;
  background-color: white;
}
.active {
  transition: all;
  transition-duration: 200ms;
  background-color: #dde4e586 !important; /* Ensures active state overrides hover */
  color: #035f64 !important;
  border-left: 0.3rem solid;
  border-color: #035f64;
}
